h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}
.btn {
	padding: 10px;
	margin: 0;
	border-color: #9FB80A;
	border-width: 2px;
	color: #9FB80A;;
}
.btn:hover {
	border-color: #9FB80A;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.glyphicon {
	margin-right: 10px;
}
