{% extends "main.html" %}
{% block content %}
  <h1>
    {{menu.name}}
    {% if menu.veggie %}
    - vegetarisch
    {% endif %}
  </h1>

  <h3>Zutaten für {{menu.portions}} Portionen:</h3>

  {% for ingredient in ingredients %}

  <p>{{ingredient.amount}}
    {% if not ingredient.amount_type == "Stück"%}
      {{ingredient.amount_type}}
    {% endif %}
    {{ingredient.name}}
  </p>

  {% endfor %}

  <h3>Rezept</h3>

  <p>{{menu.receipt}}</p>

  <form action="{{url_for('delete_menu', menu_id=menu.id)}}">
    <button type="submit" class="btn btn-default delete" id="submit" type="submit">
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>Gericht löschen
    </button>
    <button type="submit" class="btn btn-default edit" id="submit2" type="submit">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Gericht editieren
    </button>
  </form>

{% endblock %}
