{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
  <h1>Neues Rezept</h1>

  <form action="{{url_for('add_new_meal')}}" method="POST">
    <p>Rezeptname:</p>
    <input type='text' size="30" name="name" required>
    <p>Portionen:</p>
    <input type='number' name="portions" min="1" required>
    </br>
    </br>
    <input type='checkbox' name="veggie">vegetarisch
    </br>
    </br>
    <p>Zutaten:</p>
    <div id="placeholder"></div>
    <button type="button" id="add_fields" class="btn btn-default delete" value="Neue Zutat">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neue Zutat
    </button>
    </br>
    <p>Rezept:</p>
    <textarea name='receipt' rows='10' cols='30' required></textarea>
    </br>
    <button type='submit' class="btn btn-default" value='Gericht speichern'>
      	<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Gericht speichern
    </button>
    <a href="{{url_for('available_menues')}}">Abbruch</a>
  </form>
</div>

  <script>
    $(document).ready(function() {
      $("#add_fields").click(function() {
          var intId = $("#placeholder div").length + 1;
          var fieldWrapper = $("<div class='fieldwrapper' id=\"field_" + intId + "\" name=\"bla_" + intId + "\">")
          var txtIngredient = $("<input type=\"text\" style=\"width:120px;\" name=\"ingredient_" + intId + "\" value=\"\" required/>")
          var nbrIngredient = $("<input type=\"number\" style=\"width:50px\" name=\"amount_" + intId + "\" min=\"1\">")
          var sltIngredient = $("<select name=\"amount_type_" + intId + "\"><option value=\"\"><option value=\"g\">g</option><option value=\"Stück\">Stück</option><option value=\"EL\">EL</option><option value=\"TL\">TL</option><option value=\"ml\">ml</option><option value=\"Prise\">Prise</option><option value=\"Becher\">Becher</option></select>);")
          var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" /></div>");
          removeButton.click(function() {
              $(this).parent().remove();
          });
          fieldWrapper.append(txtIngredient);
          fieldWrapper.append(nbrIngredient);
          fieldWrapper.append(sltIngredient);
          fieldWrapper.append(removeButton);
          $("#placeholder").append(fieldWrapper);

      });
    });
  </script>
{% endblock %}
