<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <h1>Zutaten</h1>
  <form id="ingredient_fields" method="POST"></form>
  <input type="button" id="add_fields" class="add_fields" value="Neue Zutat"/>
  <script>
    $(document).ready(function() {
      $("#add_fields").click(function() {
          var intId = $("#ingredient_fields div").length + 1;
          var fieldWrapper = $("<div class=\"fieldwrapper\"/>")
          var txtIngredient = $("<input type=\"text\" style=\"width:120px;\" name=\"ingredient\" value=\"\"/>")
          var nbrIngredient = $("<input type=\"number\" style=\"width:50px\" name=\"amount\" min=\"1\">")
          var sltIngredient = $("<select><option value=\"weight\">g</option><option value=\"piece\">Stück</option></select>);")
          var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" />");
          removeButton.click(function() {
              $(this).parent().remove();
          });
          fieldWrapper.append(txtIngredient);
          fieldWrapper.append(nbrIngredient);
          fieldWrapper.append(sltIngredient);
          fieldWrapper.append(removeButton);
          $("#ingredient_fields").append(fieldWrapper);
      });
    });
  </script>
</body>

</html>
