{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="col-md-5">
        <div class="form-group">
            <div class="input-group date" id="datetimepicker6">
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <div class="input-group date" id="datetimepicker7">
                <input type="text" class="form-control" />
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<script>
  $(function () {
    var settings = {
      format: "dd.mm.yyyy",
      todayHighlight: true,
      language: "de"
    }
    $("#datetimepicker6").datepicker(settings);
    $("#datetimepicker7").datepicker(settings);

    $("#datetimepicker6").on("dp.change", function (e) {
      console.log("datetimepicker6");
      $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker7").on("dp.change", function (e) {
      console.log("datetimepicker7");
      $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
    });
  });

</script>
{% endblock %}
