{% extends "main.html" %} {% block content %} {% include "header.html" %}

<div class="container">
  <div class="row">
  <form class="form-signin" action="/" role="form">
    <h2 class="form-signin-heading">Please Sign Up </h2>
    <div class="input-group date" id="datetimepicker6">
      <input type="text" class="form-control" />
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-calendar"></i>
      </span>
    </div>
    <div class="input-group date" id="datetimepicker7">
      <input type="text" class="form-control" />
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-calendar"></i>
      </span>
    </div>

    <button id="weekplan" type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Wochenplan erstellen
    </button>
  </form>

</div>
<script>
  $(function() {
    var settings = {
      format: "dd.mm.yyyy",
      todayHighlight: true,
      language: "de"
    }
    $("#datetimepicker6").datepicker(settings);
    $("#datetimepicker7").datepicker(settings);

    $("#datetimepicker6").on("dp.change", function(e) {
      console.log("datetimepicker6");
      $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker7").on("dp.change", function(e) {
      console.log("datetimepicker7");
      $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
    });
  });

  $("#weekplan").click(function() {

    function getDays(firstDate, secondDate) {
      return Math.round((secondDate - firstDate) / (1000 * 60 * 60 * 24));
    };

    console.log($('#datetimepicker6').datepicker("getDate"));
    var nbrOfDays = getDays(($('#datetimepicker6').datepicker("getDate")), ($('#datetimepicker7').datepicker("getDate")));

    $.ajax({
      url: '/choose_date',
      data: {'days': nbrOfDays},
      type: 'POST',
      success: function(response) {
        console.log(response);
      },
      error: function(error) {
        console.log(error);
      }
    });
  });
</script>
{% endblock %}
